@font-face {
    font-family: 'MontB';
    src:url('../../fonts/Montserrat-Bold.woff') format('woff'),
        url('../../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
}

@font-face {
    font-family: 'MontR';
    src: url('../../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../../fonts/Montserrat-Regular.woff') format('woff'),
        url('../../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotL';
    src: url('../../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../../fonts/Roboto-LightItalic.ttf') format('truetype'),
        url('../../fonts/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Kaush';
    src: url('../../fonts/KaushanScript-Regular.woff2') format('woff2'),
        url('../../fonts/KaushanScript-Regular.woff') format('woff'),
        url('../../fonts/KaushanScript-Regular.ttf') format('truetype'),
        url('../../fonts/KaushanScript-Regular.svg#KaushanScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotR';
    src: url('../../fonts/Roboto-Regular.woff') format('woff'),
        url('../../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}




body {
    margin:0;
    font-family: 'MontB', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color:#333333;
}
*, 
*:before,
*:after {
box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
/* conrainer */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../img/Intro.jpg') center no-repeat;
    width: 100%;
    height: 100vh; 
    background-size: cover;
}
.intro__inner{
width: 100%;
max-width: 880px;
margin: 0 auto;

}
.intro__suptitle{
    font-size: 72px;
    color: #fff;
    text-align: center;
    font-family: 'Kaush', cursive;
    text-align: center;

}
.intro__title{
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 1;
}
/* Header */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    color:#fff;
}
/* Nav */
.nav{
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin:0 10px;    
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
    position: relative;
}
.nav__link:hover{
    color:#fce38a;    

}
.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    opacity: 0;
    position: absolute;
    top:100%;
    left: 0;
    z-index: 1;
transition: opacity .1s linear;
}
.nav__link:hover:after{
    color:#fce38a;   
    opacity: 1; 
}
